
main {
    display: flex；
        flex: auto；
     flex-direction: row；
  }
  header{
    display: flex；
    justify-content:center；
      }   
footer{
  display: flex；
  justify-content:center；
    }
